<div class="center">


  <h1>Welcome to <%= @cityName %> </h1>
<br>

<div class="row">
  <div class="col-sm-6 panel" id="ZipCodeApi">
    <div class="panel-heading">
      Basic Info
    </div>
    <div class="panel-body">
      <%= @zipCode %>
      <br>
      Latitude: <%= @latitude %>
      <br>
      Longitude: <%= @longitude %>
      <br>
      City Name: <%= @cityName %>
      <br>
      State: <%= @usaState %>
      <br>
    </div>
  </div>

  <div class="col-sm-6 panel" id="weatherApi">
    <div class="panel-heading">
      Weather Info
    </div>
    <div class="panel-body">
      Current Temperature: <%= @weatherInfo["main"]["temp"] %>
      <br>
      Today's Low: <%= @weatherInfo["main"]["temp_min"]  %>
      <br>
      Today's High: <%= @weatherInfo["main"]["temp_max"]  %>
      <br>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 panel" id="zomatoApi">
    <a data-toggle="collapse" href="#collapse1">
      <div class="panel-heading">
      Restaurant and Food Info
    </div>
    </a>
    <br>
    <div id="collapse1" class="panel-collapse collapse">
    <% @zomatoInfo["best_rated_restaurant"].each do |place| %>
      <div class="restaurantPane">
        <div class="">
          <%= place["restaurant"]["name"] %>
        </div>
        <div class="location">
          <%= place["restaurant"]["location"]["address"] %>
        </div>
        <div class="location">
          Rating: <%= place["restaurant"]["user_rating"]["aggregate_rating"] %> - <%= place["restaurant"]["user_rating"]["rating_text"] %>
        </div>
        <br>
    </div>
    <% end %>
    <div class="panel-body">
    Top Food Types:
    <ul class="list-group">
    <% @zomatoInfo["top_cuisines"].each do |food| %>
      <li class="list-group-item"><%=food %></li>
    <% end%>
    </ul>
  </div>
</div>
  </div>

  <div class="col-sm-6 panel" id="ticketmasterApi">
<a data-toggle="collapse" href="#collapse2">
    <div class="panel-heading">
      TicketMaster Events
    </div>
  </a>
    <div class="panel-body center collapse" id="collapse2">

    <% if @ticketmasterEvents %>
      <% @ticketmasterEvents.each do |event| %>
      <table class="table">
        <tr>
          <td>
            <%= event["name"] %>
          </td>
          <td>
            Venue: <%= event["_embedded"]["venues"][0]["name"]%>
          </td>
        </tr>
        <tr>
          <td>
            Date: <%= event["dates"]["start"]["localDate"] %>
          </td>
          <td>
            Time: <%= event["dates"]["start"]["localTime"] %>
          </td>
        </tr>
        <tr>
          <td>
            Low Price: <%= event["priceRanges"][0]["min"]%>
          </td>
          <td>
            High Price: <%= event["priceRanges"][0]["max"] %>
          </td>
        </tr>
      </table>
      <% end%>

      <% else %>
      <div> No events in this Zip Code</div>
    <% end%>

    </div>
  </div>
</div>
